{% extends 'base.html' %}

{% block title %}
<title>Проекты</title>
{% endblock %}

{% block container %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Мои проекты</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Проект №1</h2>
                </div>
                <div class="card-body">
                    <p>База данных о картинной галерее "ArtGallery": <a href="https://github.com/LinaYoy/SQLl.git">ArtGallery</a></p>
                    <img src="https://avatars.mds.yandex.net/i?id=6b72e3f72654f02781b32aba6ef42799c9d57d3b-9841374-images-thumbs&n=13" alt="database" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Проект №2</h2>
                </div>
                <div class="card-body">
                    <p>Роут "Get" для просмотра таблиц: <a href="https://github.com/LinaYoy/GET-.git">GET</a></p>
                    <img src="https://avatars.mds.yandex.net/i?id=b6c5efadab1e740d85f6bec41a02d632c05c09fe-5344236-images-thumbs&n=13" alt="node" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Проект №3</h2>
                </div>
                <div class="card-body">
                    <p>Роут "Delete" для просмотра таблиц: <a href="https://github.com/LinaYoy/DELETE.git">DELETE</a></p>
                    <img src="https://avatars.mds.yandex.net/i?id=18eebc4ec6f0c056c64f46ce00ff25615cbb12d4-8389316-images-thumbs&n=13" alt="node" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}